.procom-container{
  display: flex;
  margin: 30px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right:20px;
}

.dropbtn {
  padding: 16px 24px;
  border-radius:5px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid #007abd;
  display: flex;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background: var(--primary-00);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  span {
    font-family: inherit;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    &:hover{
      color: #007abd;
      font-family: sans-serif;
      background-color: rgb(229, 229, 253);
      font-weight: bold;
    }
    &.active{
      color: #007abd;
      font-family: sans-serif;
      background-color: rgb(229, 229, 253);
      font-weight: bold;
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    display: block;
    font-family: sans-serif;
  }
  .dropbtn {
    background-color: #f5fcff;
  }
  .arrow-down {
    transform: rotate(90deg);
    transition: transform 0.2s;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-right: initial;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #007abd;
  margin-top: -2px;
  margin-left: 15px;
  transition: transform 0.2s;
}

.bean {
  display: flex;
}

.bean-list{
  display: flex;
}
