div {
  margin-top: 70px;
}

.btn {
  padding: 10px;
  margin: 0 5px;
  outline: none;
  border: 1px solid darkgray;
  border-radius: 5px;
}

span {
  padding: 1px 5px;
  color: red;
  border: 1px dashed red;
  border-radius: 50%;
  cursor: pointer;
}
